
.ind{
    display: grid;
    margin:10px;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    height: 5rem;
    align-items: center;;
    justify-content: space-around;
}
.ind img{
    width: 2rem;
    height: 2rem;
}